:root{
    --color1:#fa4242;
    --color2:#444cf7;
    --color3:#e5e5f7;
}

.back0{
    background-color: #e5e5f7;
    background-image:  linear-gradient(135deg, #000dff 25%, transparent 25%), linear-gradient(225deg, #f74444 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 3vh 3vh;
    background-repeat: repeat;
}
.back1{
   
        --s: 2vw; /* size of the lines */
        --g:  1.5vw; /* gap between lines */
       
       --c1: var(--color2);
       --c2: var(--color1);
        
        background:
          conic-gradient(at var(--s) calc(100% - var(--s)),#0000 270deg,var(--c1) 0) calc(var(--s) + var(--g)) 0,
          linear-gradient(var(--c2) var(--s),#0000 0) 0 var(--g),
          conic-gradient(at var(--s) calc(100% - var(--s)),#0000 90deg,var(--c2) 0 180deg, var(--c1) 0),
          var(--color3);
        background-size: calc(2*(var(--s) + var(--g))) calc(2*(var(--s) + var(--g)));
     
     
}
.back2{
    
        --s: 4vh; /* control the size */
        --c1: var(--color3);
        --c2: var(--color1);
        --c3: var(--color2);
        
        
        --_g: 50%,#0000 37%,var(--c1) 39% 70%,#0000 72%;
        --_t: 50%,var(--c2) 40deg,var(--c3) 0 140deg,var(--c2) 0 180deg,#0000 0; 
        --_s: 47% 50% at;
        background: 
          radial-gradient(var(--_s) -10% var(--_g)) 0 calc(var(--s)/2),
          radial-gradient(var(--_s) -10% var(--_g)) calc(var(--s)/2) 0,
          radial-gradient(var(--_s) 110% var(--_g)),
          radial-gradient(var(--_s) 110% var(--_g)) calc(var(--s)/2) calc(var(--s)/2),
          conic-gradient(from   0deg at 55% var(--_t)) calc(var(--s)/4) 0,
          conic-gradient(from 180deg at 45% var(--_t)) calc(var(--s)/4) 0,
          var(--c2);
        background-size: var(--s) var(--s);
      
}
.back3{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, rgb(247, 68, 68) 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #000dff 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 5vw 5vw;
    background-repeat: repeat;
}
.back4{
        --s: 4vw; /* control the size */
        --c1: var(--color3);
        --c2: var(--color1);
        --c3: var(--color2);
        
        --_g: var(--c3) 0 120deg,#0000 0;
        background:
          conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
          conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
          conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
          conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
          linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                                var(--c1) 0 calc(500%/6),var(--c2) 0);
        background-size: calc(1.732*var(--s)) var(--s);
      
  
  }